.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-primary {
  background-color: #bf5700 !important;
  border-color: #bf5700 !important;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  background-color: #bf5700 !important;
  border-color: rgb(191, 87, 0) !important;
}

.btn-primary:focus, .btn-primary:focus-visible, .btn-primary:active:focus {
  box-shadow: 0 0 0 .25rem rgba(191,87,0,.5) !important;
}

li a {
  color: #bf5700;
  text-decoration: none;
}

li a:active, li a:focus, li a:visited {
  color: #bf5700;
}

li a:hover {
  text-decoration: underline;
}